.grid {
  display: grid;
  grid-template-columns: 15% auto;
  /* grid-template-rows: repeat(3, 100px); */
  grid-gap: 1em;
}


.App-Sidebar {
  grid-column: 1;
  background-color: red;
  padding: 2rem;
}

.Main {
  grid-column: 2; 
  background-color: green;
  padding: 3rem;
}


header, footer {
  grid-column: 1 / 3;
}