.grid {
  width:100%;
  display: grid;
  grid-template-columns: 15% auto;
  /* grid-template-rows: repeat(3, 100px); */
  grid-gap: 1em;
}

body {

  background-color: #0551A7;
}

.answer-container {
  border: 3px solid black;
}


.App-Header {
  width: 100%;
  margin-bottom: -1rem;
  background-color: #0551A7;
  background-image: url('./components/assets/shark4.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 2rem;
  
}

.App-Sidebar {
  grid-column: 1;
  padding: 2rem;
  background-color: #0551A7;

}

.Main {
  grid-column: 2; 
  background-color: #FAE0CC;
  text-align: center;
  height: 100%;
}

.Nav {

  margin-top: 2rem;
  border: 1px solid black
  
}

.Navbar h3 {
  font-size: 28px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.header h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0BE8B6;
}

h3 {
  /* color:#0BE8B6; */
  color:red;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}


li {
list-style: none;
}


.question-container {
  border: 3px solid black;
  padding: 2rem;
  margin-bottom: 2rem

}

