.grid {
  width:100%;
  display: grid;
  grid-template-columns: 15% auto;
  /* grid-template-rows: repeat(3, 100px); */
  grid-gap: 1em;
}

.answer-container {
  border: 3px solid black;
}

.App-Header {
  width: 100%;
  margin-bottom: -1rem;
  background-color: #0551A7;
  background-image: url('./components/assets/shark4.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 2rem;
  
}

.App-Sidebar {
  grid-column: 1;
  padding: 2rem;
  background-Color: #FAE0CC;
}

.Main {
  grid-column: 2; 
  background-color: #FAE0CC;
  padding: 15rem;
  margin-left: -2rem;
  text-align: center;
  height: 100%;
}


.Nav {

  margin-top: 2rem;
  border: 1px solid black
  
}

.Navbar h3 {
  font-size: 28px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0BE8B6;
}

h3 {
  color:#0BE8B6;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}


li {
list-style: none;
}


.question-container {
  border: 3px solid black;
  margin-bottom: 2rem

}

